article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: relative;
	background-color: #fff;
	font-family: $font-family;
	font-size: 100%;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}