/* ## Base Theme Honey Styles
--------------------------------------------- */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 16px;
}

.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

hr {
	height: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px dotted #eaeaea;
	margin: 5em 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2;
  font-size: 1.25em;
  color: white;
  background: blue;
  border-bottom: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 0.0625em rgba(0,0,0,0.25);
  &:hover {
  	opacity: 1;
  	text-decoration: none;
  	color: white;
  	border-bottom: none;
  }
}