.footer-widgets {
	.wrap {
		padding: 50px 0;
		margin: 50px auto;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.widget-area {
		width: 25%;
		float: left;
		padding-right: 1em;
	}
	.widget {
		ul li {
			line-height: 1.25;
			margin-bottom: 0.65em;
			a span {
				color: $gray-med;
			}
		}
		.widgettitle {
			text-transform: uppercase;
			font-weight: 400;
			margin: 1.5em 0;
			letter-spacing: 2px;
		}
	}
}