// Descriptive Variables
$white: #ffffff;
$black: #000000;

$eggshell: #f5f5f5;
$lt-gray: #eaeaea;

$gray-3: #333;
$gray-5: #555;

// Typography
$sans-serif: 'Arial', sans-serif;
$serif: 'Times New Roman', serif;