/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 16px;
	border-radius: 50%;
}

.alignright .avatar {
	margin-left: 16px;
	border-radius: 50%;
}

.comment .avatar {
	margin: 0 16px 16px 0;
	border-radius: 50%;
}