/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 40px;
}

.featured-content .entry:last-child {
	margin-bottom: 0;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}