/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 40px;
}

.archive-description,
.author-box {
	margin-bottom: 60px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}